*{
    margin: 0;
    padding: 0;
    
}

body{
    background: url('maldives.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container{
    
    color: black;
    position: absolute;
    top: 10%;
    left: 70%;
    width: 22%;
    
}

.container h2{
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid black ;
    margin-bottom: 43px;
    padding: 23px 12px;

}

.box {
    width: 100%;
    border-bottom: 2px solid black;
    margin: 20px 10px;
}

.box input{
    background: none;
    width: 50%;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    
}

.box i{
    width: 25px;
    text-align: center;
}

.btn {
    color: black;
    cursor: pointer;
    outline: none;
    margin: 12px 125px;
    padding: 1px 2px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    background: none;
}

.btn:hover{
    color: blue;
    background: white;
}